In [1]:
import glob
import pandas as pd
from tqdm import tqdm
import numpy as np
import random
def parse_csv(year,site):
    try:
        data=open(site).readlines()
        data=data[1:]
        line=data[0][1:-1].strip().split("\",\"")
        station=line[0]
        latitute=float(line[2])
        longitude=float(line[3])
        elevation=float(line[4])

        ret=[]
        month_count=[0]*13
        for line in data:
            line=line[1:-1].strip().split("\",\"")
            ret.append(
            {
                'month':int(line[1].split("-")[1]),
                'year':int(line[1].split("-")[0]),
                'temperature':float(line[6])
            })
        
        for item in ret:
            month_count[item['month']]+=1
        
        month_count=month_count[1:]
        if max(month_count)-min(month_count)<5:
            all_temp=[]
            for item in ret:
                all_temp.append(item['temperature'])
            all_temp=np.array(all_temp)
            temp_mean=np.max(all_temp)
            temp_max=(temp_mean-32)*5/9
            if temp_max<40:
                return None
            return {
                'station':station,
                'latitute':latitute,
                'longitude':longitude,
                'elevation':elevation,
                "T_max":temp_max,
            }
        else:
            return None
    except KeyboardInterrupt:
        raise KeyboardInterrupt
    except:
        return None

data_path ="../../Temperature"
years=[str(x) for x in range (2000,2024)]

output_df=pd.DataFrame()
for year in years:
    res=[]
    sites=glob.glob(data_path+"/"+year+"/*.csv")
    # shuffle
    random.shuffle(sites)
    print(len(sites))
    # read file
    for site in tqdm(sites):
        data_list=parse_csv(year,site)
        if data_list is None:
            continue
        res.append(data_list)
        # if len(res)>=5000:
        #     break
    print(len(res))

    new_df=pd.DataFrame(res)
    

    new_df.to_csv("./data/"+year+".csv",index=False)

8279

100%|██████████| 8279/8279 [00:08<00:00, 1015.53it/s]

32
9008

100%|██████████| 9008/9008 [00:08<00:00, 1006.01it/s]

41
8990

100%|██████████| 8990/8990 [00:09<00:00, 983.57it/s]

49
9081

100%|██████████| 9081/9081 [00:09<00:00, 953.71it/s]

50
9574

100%|██████████| 9574/9574 [00:09<00:00, 978.46it/s]

33
10130

100%|██████████| 10130/10130 [00:10<00:00, 978.12it/s]

56
9479

100%|██████████| 9479/9479 [00:10<00:00, 926.69it/s]

53
9782

100%|██████████| 9782/9782 [00:10<00:00, 930.36it/s]

45
10363

100%|██████████| 10363/10363 [00:11<00:00, 914.56it/s]

57
10723

100%|██████████| 10723/10723 [00:12<00:00, 870.71it/s]

59
10902

100%|██████████| 10902/10902 [00:13<00:00, 805.64it/s]

75
11088

100%|██████████| 11088/11088 [00:16<00:00, 684.62it/s]

65
11875

100%|██████████| 11875/11875 [00:10<00:00, 1098.03it/s]

97
11870

100%|██████████| 11870/11870 [00:10<00:00, 1105.47it/s]

68
11958

100%|██████████| 11958/11958 [00:11<00:00, 1074.40it/s]

55
12100

100%|██████████| 12100/12100 [00:11<00:00, 1066.56it/s]

47
12111

100%|██████████| 12111/12111 [00:11<00:00, 1046.03it/s]

87
12337

100%|██████████| 12337/12337 [00:14<00:00, 840.29it/s]

99
12426

100%|██████████| 12426/12426 [00:11<00:00, 1052.35it/s]

80
12387

100%|██████████| 12387/12387 [00:11<00:00, 1063.48it/s]

81
12299

100%|██████████| 12299/12299 [00:11<00:00, 1075.24it/s]

88
12275

100%|██████████| 12275/12275 [00:11<00:00, 1110.31it/s]

14
12319

100%|██████████| 12319/12319 [00:12<00:00, 986.13it/s]

72
11180

100%|██████████| 11180/11180 [00:18<00:00, 608.10it/s]

81

In [5]:
new_df
# save to ./temperature_data.csv
# new_df.to_csv("temperature_data.csv",index=False)

         station  latitute  longitude  elevation       2021      2020
0    72657594960  45.06222  -93.35107      263.4   9.292998       NaN
1    72408013739  39.87326  -75.22681        2.1  14.528311       NaN
2    72365823090  36.74354 -108.22931     1676.2  12.678843       NaN
3    72210703056  32.67528 -102.65444     1010.4  16.975580       NaN
4    74486514719  40.85055  -72.61928       13.1  11.480518       NaN
..           ...       ...        ...        ...        ...       ...
495  91221041419  14.17170  145.24280      179.2  27.673212       NaN
496  17085099999  40.65000   35.85000      412.0        NaN  16.64071
497  72456513920  38.94144  -95.65125      315.1  13.938204       NaN
498  99999953151  33.43920 -117.19040      347.5  17.103805       NaN
499  72713594623  43.96387  -69.71139       16.2   9.046271       NaN

[500 rows x 6 columns]